################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuctionsApp/.vs
/.vs
/AuctionsApp/AuctionsApp/obj
