################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuctionsApp/.vs
/.vs
/AuctionsApp/AuctionsApp/obj
/AuctionsApp/AuctionsApp/bin/Debug/net8.0
/AuctionsApp/UnitTests/bin/Debug/net8.0
/AuctionsApp/UnitTests/obj
